name: ZAP Baseline Scan

on:
  push:
    branches: [ "main" ]

jobs:
  zap_scan:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run ZAP Baseline Scan
        run: |
          docker run --rm -v $(pwd):/zap/wrk/:rw \
            zaproxy/zap-stable \
            zap-baseline.py -t http://192.168.110.206/DVWA -r zap_report.html

      - name: Upload ZAP report
        uses: actions/upload-artifact@v4
        with:
          name: zap_report
          path: zap_report.html

      - name: Copy report to /var/www/html/zap_report.html
        run: cp zap_report.html /var/www/html/
